@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'fira sans', sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0 160px 0 160px;
}

/* nav part start */

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 24px;
}

nav .nav-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 44px;
    color: #006a50;
}

nav .nav-title span {
    color: red;
}

nav .nav-button {
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    width: 116px;
    height: 52px;
    padding: 15px 20px;
    transition: .5s;
}

nav .nav-button:hover {
    background-color: #006A50;
    color: #ffffff;
}

/* nav part end */

/* hero section start */
.hero-section {
    display: flex;
    height: 560px;
    background-color: #c6e4d6;
    border-radius: 24px;
    /* justify-content: space-between; */
}

.hero-section .hero-section-details {
    margin-left: 60px;
    margin-right: 64px;
}

.hero-section .hero-section-details .hero-section-title {
    font-size: 24px;
    font-weight: 500;
    color: #006A50;
    margin-bottom: 16px;
    margin-top: 117px;
}

.hero-section .hero-section-details .hero-section-title span {
    color: red;
}

.hero-section .hero-section-details .hero-section-subtitle {
    font-size: 56px;
    font-weight: 700;
    color: #0e0e0e;
    width: 622px;
    margin-bottom: 24px;
}

.hero-section .hero-section-details .hero-button {
    font-size: 18px;
    font-weight: 600;
    background-color: #006a50;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    margin-bottom: 117px;
    transition: .5s;
    overflow: hidden;
}

.hero-section .hero-section-details .hero-button:hover {
    background-color: transparent;
    border: 1px solid #006a50;
    color: #006a50;
}

.hero-section-image .hero-image {
    margin: 80px 60px 80px 250px;
}
/* hero section end */

/* pillars section start */
.pillars {
    margin-top: 80px;
    margin-bottom: 80px;
}

.pillars h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    color: #0e0e0e;
}

.pillars .card-section {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.card .card-image {
    margin-bottom: 24px;
}

.card .card-title {
    font-size: 20px;
    font-weight: 700px;
    color: #0e0e0e;
    margin-bottom: 12px;
}

.card .card-detail {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    width: 254px;
}
/* pillars section end */

/* vision section start */
.vision {
    margin-bottom: 32px;
}
.vision-details h2 {
    font-size: 40px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 24px;
}

.vision-details p {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    line-height: 24px;
    margin-bottom: 32px;
}

.vision-color-cards {
    display: flex;
    justify-content: space-between;
}

.vision-color-cards .color-card-1 {
    padding: 32px;
}

.vision-color-cards .color-card-1 {
    background-color: #d5e1f5;
    border-radius: 16px;
}

.vision-color-cards .color-card-img {
    margin-bottom: 25px;
}

.vision-color-cards .color-card-details {
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0e;
    opacity: 80%;
    margin-bottom: 16px;
}

.vision-color-cards .color-card-description {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    line-height: 24px;
    margin-bottom: 32px;
    width: 346px;
}
.vision-color-cards .color-btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}

.vision-color-cards .color-btn:hover {
    background-color: transparent;
    border: 1px solid #5490F5;
    color: #5490F5;
    position: absolute;
}
.vision-color-cards .color-card-2 {
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}

.vision-color-cards .color-btn2 {
    font-size: 16px;
    font-weight: 600;
    background-color: #09A15C;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}

.vision-color-cards .color-btn2:hover {
    background-color: transparent;
    border: 1px solid #09A15C;
    color: #09A15C;
    position: absolute;
}

.vision-color-cards .color-card-3 { 
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
    
}

.vision-color-cards .color-btn3 {
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC239;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    transition: .5s;
    overflow: hidden;
    position: relative;

}


.vision-color-cards .color-btn3:hover {
    background-color: transparent;
    border: 1px solid #FFC239;
    color: #FFC239;
    position: absolute;
}

/* vision section end */

/* details part start */
.details {
    margin-bottom: 80px;
    background-image: url("../assets/quote-bg.png");
    background-position-x: 25px;
    background-position-y: 20px;
    background-repeat: no-repeat;;
    background-color: #ffffff;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-bottom: 80px;
}

.details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0e0e0e;
    opacity: 80%;
    margin-bottom: 12px;
}

.details h4 {
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0e;
    opacity: 80%;
    margin-bottom: 4px;
    line-height: 24px;
}

.details h6 {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 60%;
}

/* details part end */ 

/* opinion section start */
.opinion {    
    margin-bottom: 80px;
}

.opinion h2 {
    font-size: 40px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 50px;
}

.opinion-card table{
    width: 100%;
    border-collapse: collapse;
}

.opinion-card table th {
    background: #C6E4D6;
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0e;
    padding: 24px 24px;
}

.opinion-card table tr .table-header {
    padding-right: 896px;
    text-align: left;
}

th, td { 
    border: 1px solid #ddd; 
    padding: 8px;
}

tbody th {
    border-style: none;
    padding-right: 896px;
}

.opinion-card table .question {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    padding: 36.5px 24px;
}

.opinion-card table .border {
    padding: 24px 100px 24px 100px;
    align-items: center;
    /* width: 152px; */
    height: 44px;
}

.opinion-card table .border .dropdown {
    font-size: 16px;
    font-weight: 500;
    color: #0e0e0e;
    background: #C6E4D6;
    border: 1px solid #0e0e0e;
    padding: 12.5px ;
    border-radius: 4px;
    position: relative;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.opinion-card table .border .dropdown:hover {
    background-color: transparent;
    border: 1px solid #c6e4d6;
    /* position: absolute; */
}

/* opinion section end */

/* news section start */
.news {
    height: 1406px;
    margin-bottom: 80px;
}

.news-detail h2 {
    font-size: 40px;
    font-weight: 600;
    color: #0e0e0e;
    margin-bottom: 24px;
}

.news-detail p {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    line-height: 24px;
    margin-bottom: 32px;
}

.view-news-card {
    display: inline-block;
}

.news-card {
    display: flex;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 48px;
}

.news-card-image {
    padding-right: 32px;
}

.news-card-details {
    padding-top: 8px;
}

.news-card-details h3 {
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 12px;
}

.news-card-details .news-img {
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}

.news-card-details .date-time {
    display: flex;
    gap: 12px;
}

.news-card-details .date-time h6 {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    margin-bottom: 12px;
}

.news-card-details .news-details {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    line-height: 24px;
    margin-bottom: 32px;
}

.news-card-details .news-btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #006a50;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    position: relative;
    transition: .5s;
    overflow: hidden;
}

.news-card-details .news-btn:hover {
    background-color: transparent;
    border: 1px solid #006a50;
    color: #006a50;
    position: absolute;
}
/* news section end */